#rapport-title {
  h1 {
    font-weight: 800;
    color: white;
    padding: 30px;
    border: 2px solid;
    border-radius: $border-radius-large;
    letter-spacing: 2px;
  }
}

.panel {
  margin-top: 80px;
  span.number-halo {
    border-bottom: 2px solid #604e79;
    margin-right: 10px;
    letter-spacing: 2px;
  }
  .panel-heading {
    background-color: $purple;
    color: white;
    padding: 25px;
    h2 {
      text-align: center;
      font-size: 30px;
    }
  }
  .panel-body {
    background-color: $bg-gray;
  }
}

.compliance_bar {
  width:600px;
  height:50px;
  background:#c0c0c0;
  margin-bottom:5px;
}

.compliance_bar_progress {
  width:0%;
  height:100%;
  background:#00f;
}
